:root {
  --colorPrimary: #9356DC;
  --colorSecondary: #ff79da;
  --colorTertiaire: #99e2d0;
  --colorGrey: #EAEAEA;
  --colorSilver: #F6F6F6;
}

h1 {
  font-family: "roboto";
  margin-bottom: 0px;
}

h2 {
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
}

h3 {
  font-family: "roboto";
  font-weight: 300;
  margin-bottom: 0px;
}

h4 {
  font-family: "roboto";
  font-weight: 400;
  margin: 0px;
}

p {
  font-family: "roboto";
  margin: 0px;
}

body {
  margin: 0px;
}

/* Logo et header */
header {
  height: 63px;
  text-align: center;
}
header > img {
  width: 50%;
  margin-top: 20px;
}

/* texte et btn */
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--colorGrey);
}
.localisation > i {
  margin-right: 10px;
}

.texteBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--colorSilver);
  height: 290px;
}
.texteBtn > .texte {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
.texteBtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(var(--colorSecondary), var(--colorPrimary));
  border-radius: 35px;
  width: 60%;
  height: 50px;
  color: white;
  font-size: 15px;
  border: none;
}

.choix {
  margin-left: 15px;
  margin-top: 54px;
  font-size: 24px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
nav > .choixCase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 77px;
  background-color: var(--colorSilver);
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 2px 2px 2px var(--colorGrey);
}
nav > .choixCase > i {
  padding-right: 20px;
  font-size: 20px;
  color: grey;
}
nav > .choixCase > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
  background-color: var(--colorPrimary);
  color: white;
  border-radius: 50%;
  height: 26px;
  width: 8%;
}
nav > .choixCase:nth-child(3) > i {
  color: var(--colorPrimary);
}

/* restaurant */
.restaurant {
  background-color: var(--colorSilver);
  height: 1250px;
}

.case {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 255px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 2px var(--colorGrey);
  margin-bottom: 20px;
}
.case > .case_img {
  position: relative;
  overflow: hidden;
}
.case > .case_img > .nouveau {
  position: absolute;
  right: 20px;
  top: 15px;
  background-color: #99E2D0;
  padding: 5px 10px;
  color: #17A17F;
  border-radius: 5px;
}
.case > .case_img > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.case > .textCoeur {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}
.case > .textCoeur > .coeur {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.case > .textCoeur > .text {
  padding-bottom: 10px;
}

.titre {
  margin-bottom: 25px;
  margin-left: 20px;
  padding-top: 50px;
}

footer {
  background-color: #222222;
  height: 200px;
  padding-top: 10px;
  padding-left: 30px;
}
footer > h3 {
  color: white;
  font-family: "shrikhand";
  margin-bottom: 25px;
}
footer > .proposer {
  display: flex;
  color: white;
  margin-top: 8px;
}
footer > .proposer > h4 {
  margin-left: 15px;
}
footer > .partenaire {
  display: flex;
  color: white;
  margin-top: 8px;
}
footer > .partenaire > h4 {
  margin-left: 10px;
}
footer > h4 {
  color: white;
  margin-top: 8px;
}

/*# sourceMappingURL=style.css.map */
