/* Logo et header */

header {
  height: 63px;
  text-align: center;
  position: relative;

  > a{
    text-decoration: none;
    color: black;

    > i{
      font-size: 20px;
      position: absolute;
      left: 30px;
      top: 28px;
    }
  }

  > img {
    width: 187px;
    margin-top: 20px;
  }
}

/* texte et btn */

.localisation {
  display: flex;
  @include center;
  height: 50px;
  background-color: var(--colorGrey); 
  box-shadow: inset 0px 1px 3px grey;
  > i {
    margin-right: 10px;
  }
}

.texteBtn {
  display: flex;
  flex-direction: column;
  @include center;
  background-color: var(--colorSilver);
  height: 290px;

  > .texte {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
}

.choix {
  margin-left: 15px;
  margin-top: 54px;
  font-size: 24px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  > .choixCase {
    display: flex;
    @include center;
    width: 90%;
    height: 77px;
    background-color: var(--colorSilver);
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 2px 2px 2px var(--colorGrey);

    &:hover{
      background-color: #f5edff;
    }

    &:hover > i{
      color: var(--colorPrimary);
    }

    > i {
      padding-right: 20px;
      font-size: 20px;
      color: grey;
    }

    > div {
      display: flex;
      @include center;
      position: absolute;
      left: -10px;
      background-color: var(--colorPrimary);
      color: white;
      border-radius: 50%;
      height: 26px;
      width: 26px;
    }
  }
}

/* restaurant */

.restaurant{
  background-color: var(--colorSilver);
  height: 1250px;

  > a{
    text-decoration: none;
    color: black;
  }
}



.case {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 255px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 2px var(--colorGrey);
  margin-bottom: 20px;
  
  > .case_img {
    position: relative;
    overflow: hidden;

    > .nouveau{
      position: absolute;
      right: 20px;
      top: 15px;
      background-color: #99E2D0;
      padding: 5px 10px;
      color: #008766;
      border-radius: 5px;
    }

    > img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  > .textCoeur {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    padding: 5px;
    

    > .coeur {
      display: flex;
      @include center;
      font-size: 28px;

    }

    > .text{
      padding-bottom: 5px;

      > h2{
        margin-bottom: 0px;
      }
    }
  }
}

.titre{
  margin-bottom: 25px;
  margin-left: 20px;
  padding-top: 50px;
}

