.coeur{
    
    &:hover > i{
        background: linear-gradient(var(--colorSecondary), var(--colorPrimary));
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;;
        transition: all 500ms;
        transform: scale(1.2);
           
    }
}

button {
    display: flex;
    @include center;
    text-align: center;
    background: linear-gradient(var(--colorSecondary), var(--colorPrimary));
    border-radius: 35px;
    width: 60%;
    height: 50px;
    color: white;
    font-size: 15px;
    border: none;
    box-shadow: 3px 5px 10px grey;

    &:hover{
        filter: brightness(1.2);
        box-shadow: 3px 5px 15px grey;
    }
  }
