footer{
    background-color: #353535;
    height: 200px;
    padding-top: 10px;
    padding-left: 30px;

    > h3{
        color: white;
        font-family: "shrikhand";
        margin-bottom: 25px;
    }

    >a{
        >.proposer{
            display: flex;
            
            > h4{
                margin-left: 8px;
            }
        }

        > .partenaire{
            display: flex;
            align-items: center;

            > h4{
                margin-left: 5px;
                margin-top: 10px;
            }
        }
    }

    

    > h4{
        color: white;
        margin-top: 8px;   
    }

    > a{
        text-decoration: none;
        color: white;

        > h4{
            margin-top: 8px;
        }
    }



   
}